@charset "utf-8";
/* 禁用iPhone中Safari的字号自动调整,防止正着放和横着放 */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
/* 去除iPhone中默认的input样式 */
input[type="submit"],
input[type="reset"],
input[type="button"] {
  -webkit-appearance: none;
  resize: none;
}
/* 取消链接高亮  */
body,
div,
ul,
li,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
select,
p,
dl,
dt,
dd,
a,
img,
button,
form,
table,
th,
tr,
td,
tbody,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* 设置HTML5元素为块 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
/* 图片自适应 */
img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  border: none;
  -ms-interpolation-mode: bicubic;
  /*为了照顾ie图片缩放失真*/
}
/* 初始化 */
body,
ul,
li,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
select,
p,
dl,
dt,
dd,
a,
img,
button,
form,
table,
th,
tr,
td,
tbody,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
  font: normal 14px/1.5 Tahoma, "Lucida Grande", Verdana, "Microsoft Yahei", STXihei, hei;
}
em,
i {
  font-style: normal;
}
strong {
  font-weight: normal;
}
a {
  text-decoration: none;
  color: #333;
}
a:active {
  color: #f60;
}
/* 按下状态，手机是没有hover只有按下效果 */
ul,
ol {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
.clearfix:after {
  content: "";
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
}
body {
  font-size: 14px;
  font-family: '微软雅黑';
  color: #a6a6a6;
}
.header {
  width: 100%;
  height: 90px;
}
.header .header-in {
  width: 1200px;
  height: 90px;
  margin: 0 auto;
  padding-top: 14px;
  box-sizing: border-box;
}
.header .header-in .header-in-l {
  float: left;
  height: 90px;
  box-sizing: border-box;
}
.header .header-in .header-in-m {
  float: right;
}
.header .header-in .header-in-m li {
  float: left;
}
.header .header-in .header-in-m li.active {
  color: #009bd9;
  border-bottom: 1px solid #009bd9;
}
.header .header-in .header-in-m li a {
  display: block;
  line-height: 61px;
  padding: 0 10px;
  font-size: 18px;
  color: #333333;
}
.header .header-in .header-in-m li a:hover {
  color: #009bd9;
  border-bottom: 1px solid #009bd9;
}
.header .header-in .header-in-r {
  float: right;
  width: 38px;
  height: 50px;
  margin-left: 20px;
  background: url(../imgs/fdj.png) no-repeat;
  background-position: 0 12px;
  text-indent: -999em;
  overflow: hidden;
}
.info {
  width: 100%;
  background-color: #fff;
  padding-bottom: 30px;
}
.info .info-in {
  width: 1200px;
  margin: 0 auto;
  padding-left: 50px;
}
.info .info-in .top {
  height: 96px;
  border-bottom: 1px dashed #aaa;
}
.info .info-in .top .title {
  line-height: 70px;
  font-size: 30px;
  color: #222;
  text-align: center;
}
.info .info-in .top .group {
  margin-top: 4px;
  text-align: center;
}
.info .info-in .top .group a {
  font-size: 12px;
  padding: 0 20px;
  color: #666;
}
.info .info-in .detail {
  padding: 0 30px;
}
.info .info-in .detail p {
  text-indent: 2em;
  color: #555;
  line-height: 30px;
  font-size: 16px;
  padding: 10px 0;
}
.comment {
  padding: 0 30px;
}
.comment > textarea{
  margin-bottom: 10px;
}
.comment-list h3.hot{
  border-bottom: 2px solid #d1d1d1;
  margin: 20px 0;
  padding-bottom: 5px;
}

.comment-item{

  display: flex;
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 15px;


}
.comment-item .left{

}
.comment-item .left img{
  width: 64px;
  height: 64px;
  margin-right: 10px;

}
.comment-item .right{

  
}
.comment-item .right .title{

  margin: 0 0 10px 0;
  color: #ca1d18;
  font-size: 18px;
  font-weight: bold;

}
.comment-item .right .message{

}
.comment-item .right .time{
  color: #999;

}
.you {
  width: 100%;
  height: 256px;
  background-color: #333f50;
}
.you .you-in {
  width: 1200px;
  height: 256px;
  padding-top: 50px;
  box-sizing: border-box;
  margin: 0 auto;
}
.you .you-in .l {
  float: left;
}
.you .you-in .l dl {
  width: 165px;
  float: left;
}
.you .you-in .l dl dt {
  line-height: 60px;
  font-size: 22px;
  color: #eeeeee;
}
.you .you-in .l dl dd {
  line-height: 34px;
}
.you .you-in .l dl dd a {
  font-size: 14px;
  color: #aaaaaa;
}
.you .you-in .r {
  float: right;
}
.you .you-in .r p {
  font-size: 22px;
  text-align: center;
  color: #717985;
}
.footer {
  width: 100%;
  height: 65px;
  background-color: #009bd9;
}
.footer .footer-in {
  width: 1200px;
  height: 65px;
  margin: 0 auto;
  line-height: 65px;
}
.footer .footer-in .l {
  float: left;
  font-size: 14px;
  color: #ffffff;
}
.footer .footer-in .r {
  float: right;
}
.footer .footer-in .r a {
  float: left;
  height: 100%;
  padding: 0 18px;
}
/*# sourceMappingURL=detail.css.map */